@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

viewBag = @ViewBag.Text
<br />
viewData = @ViewData["Text"]
<br />
tempData = @TempData["Text"]
<br />
session = @Session["Text"]

<p>Use this area to provide additional information.</p>
